@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --green-rgb: ;
}

@layer utilities {
  .bg-position-100 {
    background-position: 100% 0%;
  }
  .bg-position-0 {
    background-position: 0% 0%;
  }

  /* Footer */
  .footer-header {
    @apply font-semibold text-2xl md:text-3xl lg:text-4xl text-greeny-700;
  }

  .footer-list {
    @apply text-xl sm:text-2xl lg:text-3xl space-y-2 md:space-y-4 lg:space-y-6 mt-4 sm:mt-6 md:mt-8;
  }

  .footer-li {
    @apply hover:text-greeny-400 cursor-pointer transition-colors;
  }

  .footer-follow-li {
    @apply flex items-center footer-li;

    .icon {
      @apply w-auto h-auto;
    }
  }
}

@media (color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
